<a href="https://colab.research.google.com/github/susanje/practicadata07/blob/main/clonar_repo_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*1°Clonamos el repo poniendo la URL del repo con que queremos trabajar alojado en github*

In [1]:
!git clone https://github.com/susanje/practicadata07

Cloning into 'practicadata07'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 15 (delta 1), reused 2 (delta 0), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [4]:
!ls practicadata07 #ponemos el nombre del repo al cual queremos acceder para ver que datos trae en caso de que el repo tenga carpetas con documentacion ponemos el nombre del repo+carpeta ejemplo: !ls practica07/carpeta

data.csv  practica.txt	README.md

In [9]:
#ahora que vimos que contenido hay en el repo abrimos el archivo a trabajar
import pandas as pd
df= pd.read_csv('practicadata07/data.csv') #ponemos el path donde esta alojado nuestro archivo a trabajar
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow
3,8751850432978942600,2,20170205,1.0,1,1.0,NaN,NaN,NaN,bing,Organic Search,Edge,desktop,United States,not available in demo dataset
4,2451058030378352110,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Indonesia,not available in demo dataset
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392887,4823772839168317708,1,20170314,NaN,14,10.0,210.0,NaN,NaN,youtube.com,Social,Chrome,desktop,Australia,Sydney
392888,4495028198726387872,1,20170314,NaN,15,13.0,306.0,NaN,NaN,m.facebook.com,Social,Android Webview,mobile,United States,not available in demo dataset
392889,659863211325608630,1,20170314,NaN,16,16.0,202.0,NaN,NaN,youtube.com,Social,Chrome,desktop,Colombia,not available in demo dataset
392890,5989424100079269693,1,20170314,NaN,20,18.0,621.0,NaN,NaN,youtube.com,Social,Chrome,desktop,Israel,Tel Aviv-Yafo
392891,9349161317881541522,4,20170314,NaN,205,179.0,4195.0,901.71,8.0,l.facebook.com,Social,Firefox,desktop,Indonesia,not available in demo dataset